@inherits LayoutComponentBase

@inject StudentServices stdservice
@inject NavigationManager navmanager
<PageTitle>StudentBlazorApp</PageTitle>

<div class="page">
    @if (navmanager.Uri.Contains("/students") || navmanager.Uri.Contains("/courselist") || navmanager.Uri.Contains("/AddStudents") || navmanager.Uri.Contains("/EditEmployee"))
    {
        if (stdservice.shownav)
        {
            <div class="sidebar">
                <NavMenu />
            </div>
        }
    }

    <main>

        <article style="zoom: 0.8;transform-origin: top left;" class="content px-4">
            @Body
        </article>
    </main>
</div>